<h1>Welcome to the longest word-game !</h1>
<p>Here is your grid :</p>
<%= @grid %>
<h2>What's your best shot ?</h2>
<form action="/score">
  <label for="question">Type an answer here: </label>
  <input type="text" id="question" name="attempt" placeholder="give me your best">
  <input type="hidden" name="start_time" value="<%= @start_time %>" >
  <input type="hidden" name="grid" value="<%= @grid %>" >
  <input type="submit" value="Go on!">
</form>
